@using Tamagotchi.Models;

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <meta http-equiv="refresh" content="10">
</head>

<body>
  <div class="jumbotron">


    <center>
      <h1>Tamagotchi</h1>
    </center>
  </div>
  <ul>

    @if (Model.Count == 0)
    {
    <p>You have no pikachus!</p>
    }
    @if(@Model.Count != 0)
    {
    @foreach (Animal animal in Model)
    {
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">@animal.GetName()</h5>
        <p class="card-text">
          <img src="~/img/@animal.GetPhoto()" />
          Food: @animal.GetFood()
          Rest: @animal.GetRest()
          Attention: @animal.GetAttention()
          Status: @animal.GetStatus()</p>
        <div class="row">


          <form action="/animals/@animal.GetId()/feed" method="post">

            <button type="submit" class="btn btn-primary btn-lg" value="@animal.GetId()" id="id" name="id">Feed</button>
          </form>
          <form action="/animals/@animal.GetId()/sleep" method="post">
            <button class="btn btn-danger btn-lg" type="submit">Sleep</button>
          </form>
          <form action="/animals/@animal.GetId()/play" method="post">
            <button class="btn btn-warning btn-lg" type="submit">Play</button>
          </form>
        </div>
      </div>
    </div>








    }
    }


  </ul>

  <button type="submit" name="button" class="btn btn-danger btn-lg btn-block"> <a href="/animals/new">Add a new animal.</a></button>
  <form action="/animals/delete" method="post">
    <button class="btn btn-warning btn-lg btn-block" type="submit" name="button">Clear All Items</button>
  </form>
  <form action="animals/timepass" method="post">
    <button type="submit" name="button" class="btn btn-success btn-lg btn-block">Pass time!</button>
  </form>
</body>

</html>